<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sunitech.myapp">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppBasTheme">

        <activity android:name=".ActivityWelcome">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.ActivitySetDatabase"
            android:label="@string/title_activity_set_database"
            android:theme="@style/AppBasTheme.NoActionBar" />

        <activity android:name=".login.ActivityAuth" />
        <activity android:name=".activity.ActivityMain"/>
        <activity android:name=".activity.ActivityShowFragment" />
        <activity android:name=".activity.ActivityNotification" />

        <receiver
            android:name=".ConnectionCheck"
            android:enabled="true"
            tools:ignore="Instantiatable">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
                <action android:name="android.net.wifi.STATE_CHANGE" />
            </intent-filter>
        </receiver>

    </application>

</manifest>